
    <div class="max-w-sm mx-auto m-auto shadow-lg md:max-w-lg rounded-2xl shadow-gray-300 px-3">
        <div class="md:flex items-center">
            <div>
                <img class="md:w-full h-42 object-cover items-center" src="../../../assets/images/burger2.png" alt="">
            </div>
            <div class="p-4">
                <h2 class="text-3xl font-semibold  md:text-left text-center">Vegetable Cheese Burger</h2>
                <p class="mt-2 md:text-left text-center">Get Vegetable Cheese Burger with layer</p>
                <app-button
                buttonText="Buy Now"
                buttonPx="px-2"
                buttonPy="py-2"
                buttonMt="mt-2"
                buttonWidth="w-36"
                ></app-button>
            </div>
        </div>
    </div>

