<div class="max-w-sm mx-auto h-auto shadow-lg md:max-w-lg rounded-2xl shadow-gray-300 overflow-hidden">
  <div class="flex flex-col md:flex-row md:items-center">
    <!-- Image Section -->
    <div class="w-full md:w-1/2">
      <img
        class="w-full h-auto object-cover"
        src="../../../assets/images/burger2.png"
        alt="Vegetable Cheese Burger"
      />
    </div>

    <!-- Content Section -->
    <div class="p-4 w-full md:w-1/2">
      <h2 class="text-xl md:text-2xl font-semibold text-center md:text-left">
        Vegetable Cheese Burger
      </h2>
      <p class="mt-2 text-sm text-center md:text-left text-gray-700">
        Get Vegetable Cheese Burger with layer
      </p>
      
      <!-- Button -->
      <div class="flex justify-center md:justify-start">
        <app-button
          buttonText="Buy Now"
          buttonPx="px-4"
          buttonPy="py-2"
          buttonMt="mt-4"
          buttonWidth="w-32"
          buttonbgColor="bg-orange-500"
          buttonColor="text-white"
        ></app-button>
      </div>
    </div>
  </div>
</div>
