<div class="max-w-sm mx-auto h-auto shadow-lg md:max-w-lg rounded-2xl shadow-gray-300">
    <div class="flex flex-col md:flex-row md:items-center">
      <div class="w-full md:w-1/2"> 
        <img
          class="w-full h-auto object-cover"
          src="../../../assets/images/burger2.png"
          alt="Vegetable Cheese Burger"
        />
      </div>
      <div class="p-4 w-full md:w-1/2">
        <h2 class="text-2xl font-semibold text-center md:text-left">
          Vegetable Cheese Burger
        </h2>
        <p class="mt-2 text-center md:text-left">
          Get Vegetable Cheese Burger with layer
        </p>
        <div class="flex justify-center md:justify-start">
          <app-button
            buttonText="Buy Now"
            buttonPx="px-2"
            buttonPy="py-2"
            buttonMt="mt-2"
            buttonWidth="w-36"
            buttonbgColor="bg-bgColor"
            buttonColor="text-white"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
  

   