<div class="w-80 rounded-[10%] shadow-lg shadow-gray-300 h-full">
    <div class="relative w-full">
      <img class="w-full rounded-[10%]" src="../../../../assets/images/dish.png" alt="">

      <div class="absolute w-32 rounded-br-2xl top-8 left-[0.35px]" [ngClass]="[buttonbgColor]">
        <p class="text-white w-full p-2 ">July 17,2023</p>
      </div>
    </div>
   <div class="mx-6 mt-3">
    <h2 class="text-xl font-medium">How To Make Rice Bowl ?</h2>
    <p>Lorem Ipsum has been the industry's
        standard dummy text ever since the,
        when an unknown printer took a galley
        of type and scrambled it to make a type</p>
        
   </div>
   <div class="py-2">
    <button class="w-10 h-10 mx-5  text-white rounded-full px-2 mt-2" [ngClass]="[buttonbgColor]">+</button>
</div>
</div>

