<div
  class="w-full max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:w-96 rounded-[10%] shadow-lg shadow-gray-300 h-full overflow-hidden"
>
  <div class="relative w-full">
    <img
      class="w-full h- sm:h-80 md:h-80 lg:h-80 object-cover"
      src="../../../../assets/images/dish.png"
      alt="Dish Image"
    />
    <div
      class="absolute w-28 sm:w-32 rounded-br-2xl top-4 sm:top-6 md:top-8 left-[0.35px]"
      [ngClass]="[buttonbgColor]"
    >
      <p class="text-xs sm:text-sm md:text-base text-white w-full p-1 sm:p-2">
        July 17, 2023
      </p>
    </div>
  </div>
  <div class="px-4 sm:px-5 md:px-6 mt-2 sm:mt-3 md:mt-4">
    <h2 class="text-lg sm:text-xl md:text-2xl font-medium mb-1">
      How To Make Rice Bowl?
    </h2>
    <p class="text-xs sm:text-sm md:text-base text-gray-400">
      Lorem Ipsum has been the industry's standard dummy text ever since an
      unknown printer took a galley of type and scrambled it.
    </p>
    <button
      class="text-3xl sm:text-4xl text-white rounded-full px-2 sm:px-2.5 my-3 sm:my-4"
      [ngClass]="[buttonbgColor]"
    >
      +
    </button>
  </div>
</div>