<div class="max-w-sm md:max-w-lg bg-white" >
<div class="sm:flex sm:flex-row  
flex-col-reverse md:order-2 order-1 mt-10 mx-5 md:w-full h-full">
    <div class="mt-10 md:mx-5 w-[100%]">
        <h1 class="font-secondFont text-3xl text-mainColor">Delicious Rice Bowl With Vegetables</h1>
        <p class="mt-10 ">Delicious rice bowl with vegetables
            order your yummy food now.</p>
        <div class="flex justify-between mt-8">
            <p class="text-2xl font-medium">$39</p>   
            <div class="space-x-3">
            <app-button 
            buttonText="Cart"
            buttonPx="px-2"
            buttonPy="py-2"
            buttonbgColor="bg-bgColor"
            buttonColor="text-white"
            
            >
            </app-button>
            <app-button 
            buttonText="cart"
            buttonPx="px-2"
            buttonPy="py-2"
            buttonbgColor="bg-black"
            buttonColor="text-white"
            >
            </app-button>
        </div>
        </div>
    </div>
    <div class="w-full h-full">
        <img class="md:w-full md:h-full h-56 w-96 md:mt-0 mt-4 object-cover" src="../../../../assets/images/img1.png" alt="">
    </div>
</div>
</div>