<div class="max-w-lg mx-auto ">
    <div class="flex justify-center items-center gap-5">
        <div>
            <img class="w-20 h-20 object-cover" src="../../../../assets/images/img3.png" alt="">
        </div>
        <div>
            <div class="flex">
                <p class="text-xl font-semibold">Spicy Burger</p>
                <p class="text-xl mx-32 text-mainColor font-medium">$42</p>
            </div>
             <p class="text-gray-600 mt-2">Get Vegetable cheese burger with Layer</p>
        </div>
    </div>
</div>
