<div class="p-4 mx-auto w-full ">
    <div class="flex items-center justify-center w-full">
      <!-- Image container -->
      <div class="">
        <img
          class="w-16 h-16 md:w-20 md:h-20 object-cover"
          [src]="img"
          alt="Spicy Burger"
        />
      </div>
      <!-- Text container -->
      <div class="w-full mx-4">
        <div class="flex justify-between items-center md:text-2xl text-lg">
          <p class="font-semibold">{{ name }}</p>
          <p class="text-mainColor font-medium">{{ price }}</p>
        </div>
        <p class="text-gray-600 mt-1 text-sm md:text-base">{{ description }}</p>
      </div>
    </div>
  </div>
  