<div class="max-w-lg p-4 mx-auto">
    <div class="flex items-center ">
        <!-- Image container -->
        <div class="w-1/4 md:w-1/3">
            <img class="w-16 h-16 md:w-20 md:h-20 object-cover" [src] ='img' alt="Spicy Burger">
        </div>
        <!-- Text container -->
        <div class="w-3/4">
            <div class="flex justify-between items-center">
                <p class="text-xl font-semibold">{{name}}</p>
                <p class="text-xl text-mainColor font-medium">{{price}}</p>
            </div>
            <p class="text-gray-600 mt-1 text-sm md:text-base">{{description}}</p>
        </div>
    </div>
</div>
