

<div class="bg-[#FFEEE5]">
  <div class="h-screen flex items-center overflow-hidden">
    <!-- <div
      class="absolute bg-white z-10 rounded-full sm:w-[907px] sm:h-[907px] sm:-top-[396px] sm:left-[898px]"
    ></div> -->
    <!--home section-->
    <div
      class="flex flex-col sm:flex-row justify-center items-center w-full max-w-screen-lg mx-auto"
    >
      <!--Text-->
      <div class="flex-1 sm:mx-5 lg:mx-0 md:text-left text-center">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-black mb-4">
          Good Food for<br />
          Good Moments.
        </h1>
        <p class="text-lg md:text-xl text-gray-700 md:w-[498px] mb-3">
          Aqui, você encontrará respostas para todas as suas dúvidas, desde a
          escolha da melhor ração até dicas essenciais para garantir o bem-estar
          do seu companheiro peludo.
        </p>

        <div class="flex md:justify-start justify-center items-center">
          <p class="text-2xl font-medium">$14.99</p>
          <!-- <button class="bg-bgColor text-white px-4 py-2 rounded-md mx-5 w-32">
            View Menu
          </button> -->
          <app-button
            buttonText="View Menu"
            buttonPx="px-4"
            buttonPy="py-2"
            buttonMx="mx-5"
            buttonbgColor="bg-bgColor"
            buttonColor="text-white"
          ></app-button>
        </div>
      </div>

      <img
        src="../../../assets/images/burger.png"
        class="w-10 h-10 m-auto mt-5 mb-2"
        alt=""
      />

      <!--Pizza Image-->
      <div class="flex-1 flex justify-center">
        <img
          src="../../../assets/images/pizza.png"
          alt="Pizza"
          class="relative z-10 lg:left-2 left-0 w-52 h-52 md:w-60 md:h-60 lg:w-80 lg:h-80"
        />
      </div>
    </div>
  </div>

  <img
    src="../../../assets/images/pizza.png"
    class="w-10 h-10 lg:mx-72 md:mx-32 mx-24"
    alt=""
  />

  <!-- Chef Section Container -->
  <div class="relative flex justify-center items-center bg-[#FFEEE5] pt-16">
    <!-- Chef Image -->
    <div class="absolute lg:right-[200px] sm:right-[100px] right-4 z-10">
      <img
        src="../../../assets/images/chef.png"
        alt="Chef"
        class="w-36 md:w-52 lg:w-56 lg:-mt-48 sm:-mt-40 -mt-20"
      />
    </div>

    <div
      class="bg-[#FF5C00] text-white py-10 px-6 md:px-10 w-full max-w-sm lg:max-w-md lg:ml-auto lg:mr-[200px]"
    >
      <h2 class="text-2xl md:text-4xl font-bold">Joe Rood</h2>
      <p class="text-lg mt-2">Chief Chef at Salad</p>
    </div>
  </div>
</div>

<!--carousel-->
<div class="border p-7">

  <div class="card">
    <p-carousel 
    [value]="productData" 
    [numVisible]="2" 
    [numScroll]="2" 
    [circular]="false" 
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <app-card></app-card>
    </ng-template>
  </p-carousel>
</div>
</div>
<!--carousel-->


<div class="bg-[#F3F3F3] w-full px-8 py-2">
  <div class="text-center mt-16">
    <h1 class="font-secondFont md:text-5xl text-4xl text-mainColor">
      Our Regular Foods
    </h1>
    <p class="mt-4">
      Eat the food you dream about at affordable prices. No <br />
      need to come to us just call is.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
    <div class="mt-5" *ngFor="let item of data">
      <app-menu
        [img]="item.image"
        [title]="item.name"
        [price]="item.price"
        [detail]="item.description"
      >
      </app-menu>
    </div>
  </div>
</div>

<!-- Get the best offer -->
<div class="mt-24 bg-white">
  <div class="max-w-sm md:mx-32 mx-7">
    <h1 class="text-3xl font-medium">GET THE BEST OFFER</h1>
    <p class="text-gray-600 mt-4">
      Eat the food you dream about at affordable prices. No need to come to us
      just call us
    </p>
  </div>

  <div
    class="mt-10 flex md:flex-row md:p-10 border border-black h-auto flex-col justify-center items-center gap-10 w-full"
  >
    <div class="relative border border-black flex w-4/5 min-h-full">
      <img
        class="w-full h-full"
        src="../../../assets/images/pizza2.png"
        alt=""
      />
      <div
        class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
      ></div>

      <div class="absolute top-0 left-0 w-full h-full flex items-center mx-7">
        <div class="text-left">
          <h1 class="text-4xl font-bold text-white">Lunch Time</h1>
          <p class="text-5xl mt-2 font-thirdFont font-bold text-mainColor">
            30% <span class="text-white">OFF</span>
          </p>
          <p class="mt-4 text-white">Get Vegetable Cheese Burger with Layer</p>
          <a
            href="#"
            class="mt-4 inline-block bg-orange-500 text-black px-6 py-2 rounded-full"
            >Order Now</a
          >
        </div>
      </div>
    </div>
    <div class="flex border border-black flex-col gap-6 md:mx-0 w-2/3 h-auto">
      <div class="w-full h-auto" *ngFor="let offer of offerData">
        <app-offer
          [img]="offer.image"
          [name]="offer.name"
          [price]="offer.price"
          [description]="offer.description"
        ></app-offer>
      </div>
    </div>
  </div>
</div>

<!-- testimonials section -->
<div class="w-full bg-[#F3F3F3] px-16 py-14">
  <div class=" pt-7">
    <h1 class="md:text-5xl text-3xl font-secondFont text-center text-mainColor">What They Say</h1>
    <p class="md:w-full text-center mt-5">
      O app não apenas me lembra das vacinas e consultas, mas também me
      <br />conectou a uma comunidade incrível de amantes de animais.
    </p>
  </div>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-7">
    <app-review image="../../../assets/images/user1.png"></app-review>
    <app-review image="../../../assets/images/user2.png"></app-review>
    <app-review image="../../../assets/images/user3.png"></app-review>
  </div>

  <p class="mt-7 text-center text-mainColor font-medium">See All Reviews</p>
</div>



<div class="w-full border border-black px-16 py-12">
  <div class="md:mx-20 mt-8">
   <h1 class="text-5xl font-secondFont text-mainColor">Our Food Blog</h1>
   <p class="text-gray-400 mt-8">Eat the food you dream about at affordable prices.  No
    need to come to us just call is</p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-12 lg:gap-x-6 lg:gap-y-8 place-items-center mt-6"> 
    <app-blog
    buttonbgColor="bg-bgColor"
    ></app-blog>
    <app-blog
    buttonbgColor="bg-black"
    ></app-blog>
    <app-blog
     buttonbgColor="bg-black"
    ></app-blog>
</div>


</div>





<!-- footer section -->
<div class="bg-bgColor w-full text-white flex justify-evenly px-16 py-10 md:flex-row flex-col">
  <div class="md:w-35 pt-5 mt-5">
    <p>$ 2 discount for your first order</p>
    <h3 class="text-xl font-medium">Join our newsletter and get updates</h3>
    <p>Join our email subscription now t o get updated on promotions and coupons</p>
    <input class="mt-10 w-full rounded-lg p-3 text-black border-none" type="text" placeholder="Your Email Address">
  </div>
 

  <div>
    <img class="md:mx-0 mx-auto md:mt-0 mt-6 " src="../../../assets/images/burger2.png" alt="">
  </div>
</div>