/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.p-carousel-next, .p-carousel-prev{
    background-color: white;
    border: 2px solid #FF5A00;
    color: #FF5A00;
    border-radius: 5px;
    padding: 18px;
    
}
.p-carousel-next:hover, .p-carousel-prev:hover{
    background-color:#FF5A00;
    color: white;

}

